<strong>
  Olá Aluno
</strong>
<p>
  Você foi matriculado no Plano {{nome}}
</p>
<p>
  <strong>
    Data de término: {{endDate}}
  </strong>
  <p>
    <strong>
      Valor: R$ {{price}}
    </strong>
  </p>
  <small>Seja muito bem-vindo a Gympoint</small>
